#registrations-new
  .col-xs-6.left-content
    %h1 XXXXXX
    %p.ex
      This site for Student.
      %br You can stady Ruby.
      Hava a fun.
    %p.by
      Develop : Aka
  .col-xs-6.right-content
    = form_for @user, url: registrations_path, method: :post do |f|
      %h2
        Sign up
      - @user.errors.each do |attr, message|
        .alert.alert-danger= message
      .form-group
        = f.label :name, class: "control-label"
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :email, class: "control-label"
        = f.text_field :email, class: "form-control"
      .form-group
        = f.label :password, class: "control-label"
        = f.password_field :passsword, class: "form-control"
      .form-group
        = f.label :password_confirmation, class: "control-label"
        = f.text_field :password_confirmation, class: "form-control"
      = f.submit "Submit", class: "btn btn-primary"
      .clear
      
